<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mojprojekat">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <receiver android:name=".sync.SyncReceiver" />
        <service android:name=".sync.SyncService" />

        <activity android:name=".aktivnosti.DetailActivity"></activity>
        <activity android:name=".aktivnosti.LoginActivity" />
        <activity android:name=".aktivnosti.ContactActivity" />
        <activity android:name=".aktivnosti.CreateContactActivity" />
        <activity android:name=".aktivnosti.ContactsActivity" />
        <activity android:name=".aktivnosti.ProfileActivity" />
        <activity
            android:name=".aktivnosti.SettingsActivity"
            android:label="@string/preferences"
            android:parentActivityName=".aktivnosti.EmailsActivity"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".aktivnosti.EmailsActivity" />

        </activity>
        <activity android:name=".aktivnosti.FolderActivity" />
        <activity android:name=".aktivnosti.FoldersActivity" />
        <activity
            android:name=".aktivnosti.EmailActivity"
            android:label="@string/message"
            android:parentActivityName=".aktivnosti.EmailsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".aktivnosti.EmailsActivity" />
        </activity>
        <activity android:name=".aktivnosti.EmailsActivity" />
        <activity android:name=".aktivnosti.CreateFolderActivity" />
        <activity android:name=".aktivnosti.CreateEmailActivity" />
        <activity android:name=".aktivnosti.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />

        <provider
            android:name="com.example.mojprojekat.database.DBContentProviderEmail"
            android:authorities="com.example.mojprojekat.emails"
            android:exported="false" />

        <provider
            android:name="com.example.mojprojekat.database.DBContentProviderUser"
            android:authorities="com.example.mojprojekat.users"
            android:exported="false" />
    </application>

</manifest>